<section class="form">
  <div class="bg-login">
  </div>
  <div class="">
    <form class="">
      <code class="logo large">
        <span class="key"></span>
      </code>
      <h3>Нэвтрэх мэдээллээ мартсан уу?</h3>
      <p>Доорх хэсэгт и-мэйл хаягаа оруулна уу. Нууц үг солих заавар таны и-мэйл хаяг руу илгээгдэх болно.</p>
      <br/>
      @if (message()) {
        <p-message [severity]="message()?.type" icon="pi pi-times-circle" styleClass="mb-2">{{ message()?.message }}
        </p-message>
      }
      <label for="email">И-мэйл хаяг *</label>
      <input
        pInputText
        type="email"
        id="email"
        placeholder="example@mail.com"
        [(ngModel)]="formData.email"
        #emailModel="ngModel"
        required
        [ngModelOptions]="{standalone: true}"
        class="w-full"
        [class.p-invalid]="emailModel.invalid && emailModel.touched"
      />

      @if (emailModel.touched && emailModel.errors?.['required']) {
        <small class="p-error">
          И-мэйл хаяг заавал оруулна
        </small>
      }

      @if (emailModel.touched && emailModel.errors?.['email']) {
        <small class="p-error">
          Зөв и-мэйл хаяг оруулна уу
        </small>
      }

      <br/>
      <button
        pButton
        [loading]="forgotLoading"
        (click)="sendResetEmail()">
        Нууц үг сэргээх
      </button>

    </form>
  </div>
</section>
