/* Invoice row */
.invoice-row {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* Columns */
.columns {
  display: flex;
  justify-content: space-between;
}

/* Left column */
.invoice-col-left {
  text-align: left;
}

.invoice-col-left h3 {
  margin: 0;
}

.invoice-date,
.card-details {
  margin: 0.25rem 0;
}

/* Right column */
.invoice-col-right {
  text-align: right;
}

.invoice-col-right h3,
.invoice-col-right p {
  padding-left: 0.5rem;
  margin: 0.25rem 0;
}

/* Status */
.invoice-status {
  color: var(--p-grey-500);
}

.invoice-status.paid {
  color: var(--p-green-400);
}

.invoice-status.failed {
  color: var(--p-red-400);
}
