.menu-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .menu-item {
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--p-text-muted-color);
    i {
      font-size: 22px;
    }
    &.active {
      color: var(--p-text-color);
    }
    &:hover {
      color: var(--p-text-color);
      background: var(--p-content-hover-background);
    }

    &.red {
      color: var(--p-red-500);
      &:hover {

        background: var(--p-red-50);
      }
    }
  }
}
