<header>
  <code class="logo animated" routerLink="/">
    <span class="key "></span>
    бич..ч
  </code>
  <div>

  </div>
  <div class="b-actions">
    <p-button routerLink="/typing" label="Дадлага" variant="text" severity="contrast" rounded="true" />
    <p-button routerLink="/membership" label="Гишүүнчлэл" variant="text" severity="contrast" rounded="true" />
    <p-button routerLink="/contact-us" label="Холбоо Барих" variant="text" severity="contrast" rounded="true" />
    @if(authenticated) {
      <span (click)="op.toggle($event)">Сайн уу, <a >{{ (user$ | async)?.username}}</a></span>
      <p-popover #op [dismissable]="true">
        <div class="menu-items">
          <div class="menu-item"><a (click)="navigate(op, '/preferences')">Тохиргоо</a></div>
          <div class="menu-item"><a (click)="logout(op)">Гарах</a></div>
        </div>
      </p-popover>
    } @else {
      <p-button routerLink="/login" label="Нэвтрэх" variant="outlined" severity="contrast" rounded="true" />
    }
  </div>
</header>
