<section class="form">
  <div class="bg-login">
  </div>
  <div class="">
    <form #resetForm="ngForm">
      <code class="logo large">
        <span class="key"></span>
      </code>
      <h3>Нууц үг солих</h3>
      <p>Нууц үг нь дор хаяж 7 тэмдэгттэй, нэг жижиг үсэг, нэг тоо агуулсан байна.</p>
      <br/>
      @if(message()) {
        <p-message [severity]="message()?.type" icon="pi pi-times-circle" styleClass="mb-2">{{message()?.message}}</p-message>
      }
      <label for="newPassword">Шинэ нууц үг</label>
      <p-password
        id="newPassword"
        inputStyleClass="w-full"
        class="w-full"
        placeholder="*********"
        [toggleMask]="true"
        [feedback]="false"
        [(ngModel)]="formData.newPassword"
        #newPassword="ngModel"
        required
        inputId="password"
        [ngModelOptions]="{standalone: true}" />

      @if (newPassword.touched && newPassword.errors?.['required']) {
        <small class="p-error">
          Нууц үг заавал оруулна
        </small>
      }

      @if (newPassword.touched && newPassword.errors?.['minlength']) {
        <small class="p-error">
          Нууц үг дор хаяж 7 тэмдэгт байх ёстой
        </small>
      }

      <label for="confirmPassword">Нууц үг давтах</label>
      <p-password
        id="confirmPassword"
        inputStyleClass="w-full"
        class="w-full"
        placeholder="*********"
        [toggleMask]="true"
        [feedback]="false"
        [(ngModel)]="formData.confirmPassword"
        inputId="password"
        #confirmPassword="ngModel"
        required
        [ngModelOptions]="{standalone: true}" />

      @if(confirmPassword.touched && confirmPassword.errors?.['required']) {
        <small class="p-error">
          Давтсан нууц үг заавал оруулах ёстой
        </small>
      }

      @if (formData.confirmPassword && formData.confirmPassword !== formData.newPassword) {
        <small class="p-error">
          Нууц үг таарахгүй байна
        </small>
      }

      <br/>
      <button pButton severity="primary"
              type="submit"
              [disabled]="resetForm.invalid || formData.newPassword !== formData.confirmPassword"
              (click)="onSubmit()">Reset</button>

    </form>
  </div>
</section>
