:host {
  display: flex;
  gap: 24px;
  flex: 1;
  width: 960px;

  .content {
    display: flex;
    flex: 1;
    background: var(--p-content-background);
    padding: 24px;
    border-radius: 24px;
  }
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .sidebar-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--p-text-muted-color);
    i {
      font-size: 22px;
    }
    &.active {
      color: var(--p-text-color);
    }
    &:hover {
      color: var(--p-text-color);
      background: var(--p-content-hover-background);
    }

    &.red {
      color: var(--p-red-500);
      &:hover {

        background: var(--p-red-50);
      }
    }
  }
}
