<div class="main-content">
  <app-header/>
  <main>
    <p-card>

      <div class="upgrade_head">
        <div class="upgrade_info">
          <h1>Premium Account</h1>
          <h2>Unlock Your Full Typing Potential!</h2>
          <p>Get the most out of your time on Bicheech. For a small fee you can unlock extra premium lessons.</p>
        </div>
      </div>
      @if(!showPayInfo) {
        <div class="upgrade_body">

          <p-divider align="left" type="solid">
            <b>Premium Packages</b>
          </p-divider>

          <div class="dm3-pricing dm3-pricing-2">
            @for (upgrade of upgradeData; track upgrade.code) {
              <div class="dm3-pricing-column">
                <div class="dm3-pricing-header">
                  <h2>{{upgrade.name}}</h2>
                </div>
                @if(upgrade.featured) {
                  <p-tag
                    value="POPULAR"
                    severity="success"
                  />
                }
                <div class="dm3-pricing-price">
                  <span>{{ upgrade.price }}₮</span>
                  <i>/ {{getConditionTerm(upgrade)}}</i>
                </div>
                <div class="dm3-pricing-options">
                  <ul>
                    <li>Бүх Нэмэлт хичээл</li>
                    <li>Стастик мэдээлэл</li>
                    <li>Давуу эрхтэй и-мэйл мэдэгдэл</li>
                    <li>Зар сурталчилгааг арилгах</li>
                  </ul>
                </div>
                <div class="dm3-pricing-actions">
                  @if(authenticated) {
                    <a class="dm3-btn" (click)="setCurrUpgrade(upgrade)">Upgrade Now</a>
                  } @else {
                    <a class="dm3-btn" routerLink="login">Login</a>
                  }
                </div>
              </div>
            }

          </div>


          <div class="qa-container">
            <h2 class="title">Questions & Answers</h2>
            <p-accordion [multiple]="true">
              @for (q of questions; track q.answer) {
                <p-accordion-panel [value]="q.answer">
                  <p-accordion-header>{{ q.question }}</p-accordion-header>
                  <p-accordion-content>
                    <p class="m-0">{{ q.answer }}</p>
                  </p-accordion-content>
                </p-accordion-panel>
              }
            </p-accordion>
          </div>

        </div>
      }
      @else {
        <div class="upgrade_body">

          <p-divider align="left" type="solid">
            <b>Payment Information</b>
          </p-divider>

          <p-divider align="left" type="solid">
            <b>Total Price</b>
          </p-divider>

          <h3 id="total-cost" style="color: #4a4947;">{{ currUpgrade.name }} Membership ({{getConditionTerm(currUpgrade)}}) - {{ currUpgrade.price }}₮ MNT</h3>
          <p><span class="left">* {{currUpgrade.paymentNote}}</span></p>

          <br/>

          <form class="form-container" [formGroup]="upgradeForm" (ngSubmit)="onSubmit()">
            <p-button
              label="Upgrade Now"
              size="small"
              severity="secondary"
              type="submit"
            />
          </form>

          @if(message){
            <p-message [severity]="message.type" icon="pi pi-times-circle" styleClass="mb-2">{{message.message}}</p-message>
          }

          <br/><br/>

        </div>
      }

    </p-card>
  </main>
</div>
