<div class="progress">
  <div class="progress-label">{{ label }}</div>
  <svg [attr.width]="size" [attr.height]="size">
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%"   stop-color="#22c55e"/>
        <stop offset="100%" stop-color="#22c55e"/>
      </linearGradient>
    </defs>
    <circle id="track"
            [attr.cx]="size/2"
            [attr.cy]="size/2"
            [attr.r]="radius - 1"
            [attr.stroke-width]="width - 2"
            [attr.stroke]="'hsla(153,22%,47%,0.09)'"></circle>
    <circle id="progress"
            [attr.cx]="size/2"
            [attr.cy]="size/2"
            [attr.r]="radius"
            [attr.stroke-width]="width"
            [attr.stroke]="'url(#gradient)'"
            [attr.stroke-dasharray]="maxValue"
            [attr.stroke-dashoffset]="maxValue - percent"
    />
  </svg>
</div>
