.form {
  display: flex;
  flex: 1;
  min-height: 500px;
  padding: 0;
  width: 100%;
  overflow: hidden;

  .bg-login {
    display: flex;
    flex: 1;
    background-image: url("/bbburst.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  form {
    display: flex;
    flex: 1;
    min-width: 480px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    .p-inputtext,
    .p-password-input {
      width: 234.5px;
    }

    button {
      width: 234.5px;
    }
  }
}
