.form {
  display: flex;
  flex: 1;
  min-height: 500px;
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;

  h3 {
    font-weight: 500;
    margin: 16px 0 0;
  }

  p {
    padding: 0;
    margin: 0;
    color: var(--p-text-muted-color);
    opacity: 0.8;
    line-height: 10px;
    font-size: 14px;
  }

  a {
    color: var(--p-primary-color);
  }

  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    span {
      color: var(--p-text-muted-color);
    }
  }

  .bg-login {
    display: flex;
    flex: 1;

  }

  form {
    display: flex;
    flex: 1;
    min-width: 480px;
    height: 100%;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 64px;

    label {
      margin: 0;
      font-size: 17px;
    }

    button {
      width: 100%;
    }

    .w-full {
      width: 100%;
    }
  }
}
