.blog {
  max-width: 540px;
  color: var(--b-text-500);

  .time-and-author {
    display: inline-flex;
    height: 32px;
    align-items: end;
    .timestamp {
      display: flex;
      align-items: end;
      margin-right: 8px;
      font-size: 14px;
      color: var(--b-text-300);
    }
  }
}

.more-indicator {
  color: var(--b-text-100);
  height: 24px;
  font-size: 12px;
}
