<div class="main-content">

  <app-header/>
  <main>
    <div class="wrapped-section">
      <section class="first">
        <div>
          <label>• Хичээл</label>
          <h1>10 хуруугаар хурдан бичих хичээл</h1>
        </div>

        <div class="b-actions">
          <p-button label="🇲🇳 Монгол" severity="contrast" class="{{selectedLanguage === 'MONGOLIAN' ? 'selected-lang' : 'inactive-lang'}}" [rounded]="true" (click)="changeLanguage('MONGOLIAN')"/>
          <p-button label="🇬🇧 English" severity="contrast" class="{{selectedLanguage === 'ENGLISH' ? 'selected-lang' : 'inactive-lang'}}"  [rounded]="true" (click)="changeLanguage('ENGLISH')"/>
        </div>
      </section>
      <div class="drawer">
        <ng-container [ngTemplateOutlet]="drawer"></ng-container>
      </div>
    </div>
    <div class="flex gap-2">
      <section class="one-minute-bg">
        <div>
          <label>• 1 Минут</label>
          <div class="flex items-center justify-between gap-2">
            <h2>Минуттай уралдах</h2>
            <h1 class="p-2 yellow-back">⚡️</h1>
          </div>
          <div class="b-actions">
            <p-button routerLink="/typing" [queryParams]="{timer: 'on'}" label="Эхлэх" severity="contrast"
                      [rounded]="true"/>
          </div>
        </div>
      </section>

      <section class="one-on-one-bg">
        <div>
          <label>• 1x1</label>
          <div class="flex items-center justify-between gap-2">
            <h2>Хоорондоо өрсөлдөх</h2>
            <h1 class="p-2 silver-back">🥊️</h1>
          </div>
          <div class="b-actions">
            <p-button label="Үүсгэх" severity="contrast" [rounded]="true"/>
            <p-button label="Холбогдох" severity="contrast" [rounded]="true" variant="outlined"/>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <code class="small">
      Copyright © 2026
    </code>

    <code class="small">
      бич..ч|
    </code>
  </footer>
</div>

<ng-template #drawer>
  <div>
      <p-accordion>
        @for (category of lessons(); track ('category'+category.id)) {
            <p-accordion-panel value="{{ $index }}">
              <p-accordion-header (click)="selectParent(category)">
                <ng-template #toggleicon let-active="active" >
                  @if (active) {
                    <ng-container [ngTemplateOutlet]="lessonProgress" [ngTemplateOutletContext]="{ $implicit: getCateProgress(category.id) }"/><i
                      class="pi pi-minus"></i>
                  } @else {
                    <ng-container [ngTemplateOutlet]="lessonProgress" [ngTemplateOutletContext]="{ $implicit: getCateProgress(category.id) }"/><i
                      class="pi pi-plus"></i>
                  }
                </ng-template>

                <div class="flex items-center gap-2 w-full">
                  <span class="font-bold whitespace-nowrap">{{ category.mnTitle }}</span>
                </div>
              </p-accordion-header>
              <p-accordion-content>
                <ng-container [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{ category: category }"/>
              </p-accordion-content>
            </p-accordion-panel>
          }
      </p-accordion>
  </div>
</ng-template>

<ng-template #lessonProgress let-progress>
  <div class="lesson-progress">
    <p-progressbar [style]="{ height: '8px' }" [value]="progress">
      <ng-template #content let-value>
        <!--                  <span>{{value}}/100</span>-->
      </ng-template>
    </p-progressbar>
  </div>
</ng-template>

<ng-template #table let-category="category">
  <div class="no-bg-table">
    @for(lesson of subLessons(); track ('lesson'+lesson.id)) {
        <div role="row" class="flex items-center gap-2 w-full p-2">
          <div class="flex flex-1 items-center gap-1">@if(lesson.isPremium) { <i class="pi pi-crown text-yellow-500"></i> } {{ lesson.mnTitle }}</div>
          <div>
            @if (lesson.progress != null) {
              <div class="b-actions">
                <p-tag severity="info">{{ speedType }}: {{ getSpeed(lesson.progress) }}</p-tag>

                <small>Оновч:</small>
                <app-progress
                  [label]="getAccuracy(lesson.progress) + '%'"
                  [value]="getAccuracy(lesson.progress)"
                />

                <small>Явц:</small>
                <app-progress
                  [label]="lesson.progress.completionPercent + '%'"
                  [value]="lesson.progress.completionPercent"
                />
              </div>
            }
          </div>
          <div class="last-col">
            <div class="b-actions">
              @if (lesson.progress) {
                @if (lesson.progress.completionPercent === 100) {
                  <p-button variant="outlined" severity="contrast" rounded="true" label="Дахин Авах" (click)="openRestartDialog(lesson)"/>
                } @else {
                  <p-button severity="primary" rounded="true" label="Үргэлжлүүлэх"/>
                }
              }
              @else {
                @if(!lesson.isPremium) {
                  <p-button [routerLink]="['/tutor/'+ selectedLanguage +'/'+category.id +'/'+lesson.id]" variant="outlined" severity="contrast" rounded="true" label="Эхлүүлэх"/>
                } @else {
                  <p-button [routerLink]="['/tutor/'+ selectedLanguage +'/'+category.id +'/'+lesson.id]" variant="outlined" severity="contrast" rounded="true" label="Урьдчилсан Хичээл"/>
                }
              }
            </div>
          </div>
        </div>
    }
  </div>
</ng-template>

<p-dialog
  [(visible)]="showRestartDialog"
  modal="true"
  [closable]="false"
  [dismissableMask]="true"
  [style]="{ width: '380px' }">
  <ng-template #header>
    <div class="flex flex-1 items-center justify-between w-full">
      <span class="font-bold whitespace-nowrap">Хичээлийг дахин эхлүүлэх</span>

      <a (click)="closeRestartDialog()"><i class="pi pi-times"></i></a>
    </div>
  </ng-template>
  <p>Та хичээлийг дахин эхлүүлэхийг хүсэж байна уу?</p>
  <ng-template #footer>
    <div class="flex items-center justify-between w-full">
      <p-button
        label="Тийм"
        severity="danger"
        (onClick)="confirmRestart()">
      </p-button>

      <p-button
        label="Үгүй"
        severity="secondary"
        (onClick)="closeRestartDialog()">
      </p-button>
    </div>
  </ng-template>
</p-dialog>
