:host {
}

section {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer {
  padding: 20px 12px 4px 12px;
  min-height: 24px;
  width: calc(100% - 32px);
  margin: auto;
  background: var(--b-background-100);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  transform: translateY(-8px);

  .lesson-progress {
    min-width: 100px;
    margin-right: 16px;
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center
}

.space-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 16px;
}

.flex-1 {
  flex: 1;
}

.w-full {
  width: 100%;
}

.last-col {
  display: flex;
  min-width: 160px;
  justify-content: end;
}

.p-2 {
  padding: 16px;
}

.no-bg-table {
  display: flex;
  flex-direction: column;
  [role=row] {
    border-top: 2px solid var(--b-background-100);
  }
}

.yellow-back {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 197, 0, 0.15);
    filter: blur(32px);
  }
}

.silver-back {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.15);
    filter: blur(32px);
  }
}

.one-minute-bg {
  background: var(--b-background-yellow);
}

.one-on-one-bg {
  background: var(--b-background-red);
}
