:host {
}

section {
  background: rgba(120,120,120,0.1);
  padding: 24px;
  border-radius: 40px;
  height: fit-content;

  h1 {
    font-size: 60px;
    max-width: 50%;
    margin: 0;
    padding-bottom: 48px;
  }

  label {
    opacity: 0.7;
    font-size: 18px;
    margin-bottom: 18px;
    display: block;
  }

  &.first {
    position: relative;
    overflow: hidden;
    &:before {
      background-image: url("/keyboard.svg");
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 500px;
      height: 500px;
      transform: rotate(-45deg) scale(1.3);
    }
  }
}
