<div class="main-content">

  <app-header/>
  <main>
    <div class="wrapped-section">
      <section class="first">
        <div>
          <label>• Хичээл</label>
          <h1>10 хуруугаар хурдан бичих хичээл</h1>
        </div>

        <div class="b-actions">
          <p-button label="🇲🇳 Монгол" severity="contrast" class="{{selectedLanguage === 'mn' ? 'selected-lang' : 'inactive-lang'}}" [rounded]="true"/>
          <p-button label="🇬🇧 English" severity="contrast" class="{{selectedLanguage === 'en' ? 'selected-lang' : 'inactive-lang'}}"  [rounded]="true"/>
        </div>
      </section>
      <div class="drawer">
        <ng-container [ngTemplateOutlet]="drawer"></ng-container>
      </div>
    </div>
    <div class="flex gap-2">
      <section class="one-minute-bg">
        <div>
          <label>• 1 Минут</label>
          <div class="flex items-center space-between gap-2">
            <h2>Минуттай уралдах</h2>
            <h1 class="p-2 yellow-back">⚡️</h1>
          </div>
          <div class="b-actions">
            <p-button routerLink="/typing" [queryParams]="{timer: 'on'}" label="Эхлэх" severity="contrast"
                      [rounded]="true"/>
          </div>
        </div>
      </section>

      <section class="one-on-one-bg">
        <div>
          <label>• 1x1</label>
          <div class="flex items-center space-between gap-2">
            <h2>Хоорондоо өрсөлдөх</h2>
            <h1 class="p-2 silver-back">🥊️</h1>
          </div>
          <div class="b-actions">
            <p-button label="Үүсгэх" severity="contrast" [rounded]="true"/>
            <p-button label="Холбогдох" severity="contrast" [rounded]="true" variant="outlined"/>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <code class="small">
      Copyright © 2026
    </code>

    <code class="small">
      бич..ч|
    </code>
  </footer>
</div>

<ng-template #drawer>
  <div>
    <p-accordion value="0">
      <p-accordion-panel value="0">
        <p-accordion-header>
          <ng-template #toggleicon let-active="active">
            @if (active) {
              <ng-container [ngTemplateOutlet]="lessonProgress" [ngTemplateOutletContext]="{ $implicit: 30 }"/><i
                class="pi pi-minus"></i>
            } @else {
              <ng-container [ngTemplateOutlet]="lessonProgress" [ngTemplateOutletContext]="{ $implicit: 30 }"/><i
                class="pi pi-plus"></i>
            }
          </ng-template>
          <div class="flex items-center gap-2 w-full">
            <span class="font-bold whitespace-nowrap">Starter</span>
            <p-badge value="3" class="ml-auto mr-2"/>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <ng-container [ngTemplateOutlet]="table"/>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="1">
        <p-accordion-header>
          <ng-template #toggleicon let-active="active">
            @if (active) {
              <ng-container [ngTemplateOutlet]="lessonProgress" [ngTemplateOutletContext]="{ $implicit: 56 }"/><i
                class="pi pi-minus"></i>
            } @else {
              <ng-container [ngTemplateOutlet]="lessonProgress" [ngTemplateOutletContext]="{ $implicit: 56 }"/><i
                class="pi pi-plus"></i>
            }
          </ng-template>
          <div class="flex items-center gap-2 w-full">
            <span class="font-bold whitespace-nowrap">Intermediate</span>
            <p-badge value="4" class="ml-auto mr-2"/>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <ng-container [ngTemplateOutlet]="table"/>
        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel value="2">
        <p-accordion-header>
          <ng-template #toggleicon let-active="active">
            @if (active) {
              <ng-container [ngTemplateOutlet]="lessonProgress" [ngTemplateOutletContext]="{ $implicit: 0 }"/><i
                class="pi pi-minus"></i>
            } @else {
              <ng-container [ngTemplateOutlet]="lessonProgress" [ngTemplateOutletContext]="{ $implicit: 0 }"/><i
                class="pi pi-plus"></i>
            }
          </ng-template>
          <div class="flex items-center gap-2 w-full">
            <span class="font-bold whitespace-nowrap">Advanced</span>
            <p-badge value="2" class="ml-auto mr-2 "/>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <ng-container [ngTemplateOutlet]="table"/>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>

  </div>
</ng-template>

<ng-template #lessonProgress let-progress>
  <div class="lesson-progress">
    <p-progressbar [style]="{ height: '8px' }" [value]="progress">
      <ng-template #content let-value>
        <!--                  <span>{{value}}/100</span>-->
      </ng-template>
    </p-progressbar>
  </div>
</ng-template>

<ng-template #table>
  <div class="no-bg-table">
    @for (product of products; track product) {
      <div role="row" class="flex items-center gap-2 w-full p-2">
        <div class="flex flex-1">{{ product.name }}</div>

        <div class="b-actions">
          @if (product.progress > 0) {
              <p-tag severity="info">WPM: {{ product.wpm }}</p-tag>
              <small>Оновч: </small>
              <app-progress [label]="product.accuracy + ''" [value]="product.accuracy"/>
              <small>Явц: </small>
              <app-progress [label]="product.progress + ''" [value]="product.progress"/>
          } @else {
            <p-tag severity="secondary">Хичээл: 8</p-tag>
            <small>Явц: </small>
            <app-progress [label]="'0'" [value]="0"/>
          }
        </div>
        <div class="last-col">
          <div class="b-actions">
            @if (product.progress > 0) {
              <p-button icon="pi pi-arrow-right" severity="primary" rounded="true" />
            } @else {
              <p-button variant="outlined" severity="contrast" rounded="true" label="Эхлүүлэх"/>
            }
          </div>
        </div>
      </div>
    }
  </div>
</ng-template>
