:host {
}

section {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.drawer {
  padding: 12px 12px 24px 12px;
  min-height: 24px;
  width: calc(100% - 72px);
  margin: auto;
  background: rgba(122, 122, 122, 0.05);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center
}

.gap-2 {
  gap: 16px;
}

.w-full {
  width: 100%;
}

