:host {
}

section {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);z-index: 1;
  z-index: 1;
}

.drawer {
  padding: 20px 12px 4px 12px;
  min-height: 24px;
  width: calc(100% - 32px);
  margin: auto;
  background: rgba(122, 122, 122, 0.05);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  transform: translateY(-8px);

}

.flex {
  display: flex;
}

.items-center {
  align-items: center
}

.space-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 16px;
}

.flex-1 {
  flex: 1;
}

.w-full {
  width: 100%;
}

.last-col {
  display: flex;
  min-width: 160px;
  justify-content: end;
}

.p-2 {
  padding: 16px;
}

.no-bg-table {
  display: flex;
  flex-direction: column;

  [role=row]:nth-child(even) {
    background: rgba(122, 122, 122, 0.05);
  }
}
