<div class="admin-post">
  <div class="sidebar">
    <div class="top">
      <code class="logo" routerLink="/">
        <span class="key"></span>
        бич..ч
      </code>
      <div class="p-1">
        <ul class="headers">
          @for (header of headers; track header+index; let index=$index) {
            <li><span [innerHTML]="header"></span></li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="editor">
    <quill-editor [(ngModel)]="body.htmlContent"
                  (input)="updateContent($event)"
                  placeholder="Нийтлэл бичих"
                  (onSelectionChanged)="onSelectionChanged($event)"
                  (onContentChanged)="onContentChanged($event)"/>
    <div class="title">
      <textarea [(ngModel)]="body.title" [maxLength]="88" placeholder="Гарчиг" rows="2" resizable="false"></textarea>
    </div>
  </div>
  <div class="b-actions float-right">
    @if (id != null) {
      <p-button variant="outlined" label="Хадгалах" severity="contrast" rounded="true" (click)="putBlog()"/>
    } @else {
      <p-button variant="outlined" label="Нийтлэх" severity="contrast" rounded="true" (click)="postBlog()"/>
    }
    <!--      <p-button routerLink="/login" label="Нэвтрэх" variant="outlined" severity="contrast" rounded="true" />-->
  </div>
</div>
