<div class="admin-post">
  <div class="sidebar">
    <div class="top">
      <code class="logo" routerLink="/">
        <span class="key"></span>
        бич..ч
      </code>
    </div>
    <div class="p-1">
      <ul class="headers">
        @for (header of headers; track header) {
          <li><span [innerHTML]="header"></span></li>
        }
      </ul>
    </div>
  </div>
  <div class="editor">
    <quill-editor [(ngModel)]="body.htmlContent"
                  (input)="updateContent($event)"
                  placeholder="Нийтлэл бичих"
                  (onSelectionChanged)="onSelectionChanged($event)"
                  (onContentChanged)="onContentChanged($event)"/>
    <div class="title">
      <textarea [(ngModel)]="body.title" [maxLength]="88" placeholder="Гарчиг" rows="2" resizable="false"></textarea>
    </div>
  </div>
  <div class="sidebar">
    <div class="top float-right">
      @if (id != null) {
        <button pButton (click)="putBlog()">Хадгалах</button>
      } @else {
        <button pButton (click)="postBlog()">Нийтлэх</button>
      }
    </div>
  </div>
</div>
