:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-post {
  display: flex;
  margin: auto;
}
.sidebar {
  &:first-child {
    min-width: 200px;
  }
  .top {
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    position: sticky;
    top: 0;
    background: var(--b-background);
  }

  ul.headers {
    max-width: 200px;
    padding: 0;
    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

label {
  display: flex;
  margin-bottom: 8px;
}

.editor {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 720px;
  .title {
    min-width: 120px;
    font-weight: 600;
    position: absolute;
    top: 48px;
    display: flex;
    width: 100%;
  }

  textarea {
    font-size: 24px;
    height: 60px;
    width: 100%;
    font-weight: 500;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0 16px;
    resize: none;
    font-family: inherit;

    &:active, &:focus, &:focus-visible {
      outline: none;
      border: none;
      box-shadow: none;
    }

    &::placeholder {
      color: var(--b-text-100);
    }
  }
}

span[contenteditable="true"] {
  border: none;
  outline: none;
}
