.editor {
  display: flex;
  gap: 24px;
  flex-direction: column;
  .title-wrapper {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    min-height: 24px;

    .title {
      min-width: 120px;
      font-weight: 600;
    }

    textarea {
      font-size: 24px;
      font-weight: 600;
      border: none;
      background: none;
      box-shadow: none;
      padding: 0;
    }

    .pi-pencil {
      margin-left: 8px;
      opacity: 0.2;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}

span[contenteditable="true"] {
  border: none;
  outline: none;
}
