<div class="kb-col">
  <div class="kb-row">
    @for (c of language[0].split(' '); track c) {
      <code class="{{letter.toLowerCase() === c[0] ? 'active' : c[1] && c[1] === letter ? 'active' : ''}}">{{ c[0] }}@if(c[1]){<span class="secondary">{{c[1]}}</span>}</code>
    }
    <code class="kb-backspace"><i class="pi pi-delete-left"></i></code>
  </div>
  <div class="kb-row">
    <code class="kb-tab">Tab</code>
    @for (c of language[1].split(' '); track c) {
      <code class="{{letter.toLowerCase() === c[0] ? 'active' : c[1] && c[1] === letter ? 'active' : ''}}">{{ c[0] }}@if(c[1]){<span class="secondary">{{c[1]}}</span>}</code>
    }
  </div>
  <div class="kb-row">
    <code class="kb-cap-lock">Cap Lock</code>
    @for (c of language[2].split(' '); track c) {
      <code class="{{letter.toLowerCase() === c[0] ? 'active' : c[1] && c[1] === letter ? 'active' : ''}}">{{ c[0] }}@if(c[1]){<span class="secondary">{{c[1]}}</span>}</code>
    }
    <code class="kb-enter">Enter</code>
  </div>
  <div class="kb-row">
    <code class="kb-shift {{ isUpperCase ? 'active' : isShifted ? 'active':''}}">Shift</code>
    @for (c of language[3].split(' '); track c) {
      <code class="{{letter.toLowerCase() === c[0] ? 'active' : c[1] && c[1] === letter ? 'active' : ''}}">{{ c[0] }}@if(c[1]){<span class="secondary">{{c[1]}}</span>}</code>
    }
    <code class="kb-shift {{ isUpperCase ? 'active' : isShifted ? 'active':''}}">Shift</code>
  </div>
  <div class="kb-row">
    <code class="small">
      Copyright © 2026
    </code>
    <code class="kb-space {{isSpace ? 'active' : ''}}">Space</code>

    <code class="shrink logo">
      <span class="key"></span>
      бич..ч
    </code>
  </div>
</div>
<!--
№-₮:._,%?ЕЩ
1234567890ещ
фцужэнгшүзкъ
йыбөахролдп
ячёсмитьвю
-->
