/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


@font-face {
  font-family: Atlassian Sans;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/AtlassianSans-cyrillic.woff2) format("woff2");
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
  font-family: Atlassian Sans;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/AtlassianSans-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
  font-family: Atlassian Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/AtlassianMono-cyrillic-ext.woff2) format("woff2");
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

:host {

}

:root {
  --p-button-outlined-contrast-border-color: var(--p-surface-800) !important;
  --p-button-outlined-contrast-hover-background: transparent !important;
  --p-metergroup-gap: 8px !important;
  --p-tag-font-weight: 500;
  --b--background: var(--p-surface-0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --p-button-outlined-contrast-border-color: var(--p-surface-0) !important;
    --p-button-outlined-contrast-hover-background: transparent !important;
    --b--background: var(--p-surface-800);
  }

  .first:before {
    filter: invert(1);
  }
}
.p-button-outlined.p-button-contrast {
  border-width: 1.5px;
}
.p-button-outlined.p-button-contrast:not(:disabled):hover {
  background: transparent;
  border-width: 1.5px;
}

.drawer {
  .p-accordionpanel {
    border-width: 0;
    margin-bottom: 8px;
  }
  .p-accordionheader {
    background: rgba(122,122,122,0.1);
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    &[aria-expanded="false"] {
      border-bottom-right-radius: 24px;
      border-bottom-left-radius: 24px;
      transition: all 0.2s ease-in-out;
      transition-delay: 0.1s;
    }
  }
  .p-accordioncontent-content {
    background: #82828208;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 0;
  }
  .p-metergroup {
    width: 100px;
  }
  .p-metergroup-label-text {
    font-size: 14px;
    text-transform: capitalize;
  }
}


html, body {
  font-family: "Atlassian Sans", Arial Apple-system,Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //height: 100dvh;
}

code {
  font-family: "Atlassian Mono",  Monaco, Consolas, 'Courier New', monospace;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 960px;
  padding: 0 16px;
  margin: auto;
  position: relative;
  height: fit-content;
  overflow: hidden;
  //background-image: url("/bbblurry.svg");
  //background-repeat: no-repeat;
  //background-position: right top;
  //background-size: cover;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding: 0 16px;

  .logo {
    font-size: 17px;
    cursor: pointer;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}


.b-actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.small {
  font-size: 12px;
}

section {
  background: var(--b--background);
  padding: 24px;
  border-radius: 40px;
  height: fit-content;

  h1 {
    font-size: 60px;
    max-width: 50%;
    margin: 0;
    padding-bottom: 48px;
  }

  h2 {
    font-size: 48px;
    max-width: 50%;
    margin: 0;
    padding-bottom: 48px;
  }

  label {
    opacity: 0.7;
    font-size: 18px;
    margin-bottom: 18px;
    display: block;
  }

  &.first {
    position: relative;
    overflow: hidden;
    &:before {
      background-image: url("/keyboard.svg");
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 500px;
      height: 500px;
      transform: rotate(-45deg) scale(1.3);
    }
  }
}
