/* You can add global styles to this file, and also import other style files */
@use "fonts";
@import "primeicons/primeicons.css";

:root {
  --p-button-border-radius: 8px;
  --p-inputtext-border-radius: 8px;
  --p-button-label-font-weight: 400;
  --p-card-body-padding: 0;
  --p-card-border-radius: 40px;
  --p-button-outlined-contrast-border-color: var(--p-surface-950) !important;
  --p-button-outlined-contrast-hover-background: transparent !important;
  --p-content-border-color: var(--p-surface-100) !important;
  --p-metergroup-gap: 8px !important;
  --p-tag-font-weight: 500;
  --b-background: var(--p-surface-0);
  --b-background-50: var(--p-surface-50);
  --b-background-100: var(--p-surface-100);
  --b-background-200: var(--p-surface-200);
  --b-background-300: var(--p-surface-300);
  --b-background-400: var(--p-surface-400);
  --b-background-500: var(--p-surface-500);
  --b-background-yellow: #faf7f5;
  --b-background-red: #f8f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --p-button-outlined-contrast-border-color: var(--p-surface-0) !important;
    --p-button-outlined-contrast-hover-background: transparent !important;
    --p-content-border-color: var(--p-surface-800) !important;
    --b-background: var(--p-surface-950);
    --b-background-50: var(--p-surface-900);
    --b-background-100: var(--p-surface-800);
    --b-background-200: var(--p-surface-700);
    --b-background-300: var(--p-surface-600);
    --b-background-400: var(--p-surface-500);
    --b-background-500: var(--p-surface-400);
    --b-background-yellow: #110c01;
    --b-background-red: #110101;
  }

  .first:before {
    filter: invert(1);
  }

  .logo .key {
    filter: invert(1);
  }
}

.p-card {
  overflow: hidden;

  .p-card-title {
    padding: 16px 24px ;
  }
}

.p-button-outlined.p-button-contrast {
  border-width: 1.5px;
}

.p-button-outlined.p-button-contrast:not(:disabled):hover {
  background: transparent;
  border-width: 1.5px;
}

.drawer {
  .p-accordionpanel {
    border-width: 0;
    margin-bottom: 8px;
    border-radius: 24px;
    overflow: hidden;
  }

  .p-accordioncontent-content {
    overflow: hidden;
    padding: 0;
  }

  .p-metergroup {
    width: 100px;
  }

  .p-metergroup-label-text {
    font-size: 14px;
    text-transform: capitalize;
  }
}


html, body {
  font-family: "Atlassian Sans", Arial Apple-system, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //height: 100dvh;
}

code {
  font-family: "Atlassian Mono", Monaco, Consolas, 'Courier New', monospace;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  //max-width: 960px;
  padding: 0 16px;
  margin: auto;
  position: relative;
  //height: fit-content;
  height: 100dvh;
  //overflow: hidden;
  &[role=login], &[role=register], &[role=forgot], &[role=confirm], &[role=password]  {
    background-image: url("/bbburst.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding: 0 16px;

  max-width: 960px;
  margin: auto;
}

.p-popover-content {
  padding: 0;
  .menu-items {
    .menu-item {
      a {
        text-decoration: none;
        color: var(--p-text-color);
      }
      padding: 8px;
      min-width: 120px;
    }
  }
}

.logo {
  font-size: 17px;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  position: relative;
  &.large {
    .key {
      width: 48px;
      height: 48px;
    }
  }
  &.animated:before {
    //background: rgba(128, 128, 128, 0.5);
    //animation: blinker 1s step-end infinite;
  }
  &:before {
    content: ' ';
    display: inline-block;
    width: 12px;
    height: 24px;
    position: absolute;
    right: -1px;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .key {
    background-image: url("/key.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  max-width: 960px;
  margin: auto;
}

.small-text {
  font-size: 14px;
}

.b-actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.small {
  font-size: 12px;
}

section {
  background: var(--b-background-50);
  padding: 24px;
  border-radius: 40px;
  height: fit-content;

  h1 {
    font-size: 60px;
    max-width: 50%;
    margin: 0;
    padding-bottom: 48px;
    font-weight: 200;
  }

  h2 {
    font-size: 40px;
    max-width: 50%;
    margin: 0;
    padding-bottom: 48px;
    font-weight: 500;
  }

  label {
    opacity: 0.7;
    font-size: 18px;
    margin-bottom: 18px;
    display: block;
  }

  &.first {
    position: relative;
    overflow: hidden;

    &:before {
      background-image: url("/keyboard.svg");
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 500px;
      height: 500px;
      transform: rotate(-45deg) scale(1.3);
    }
  }
}

.f-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.sidebar {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.flex-1 {
  flex: 1;
}

.w-full {
  width: 100%;
}

.p-2 {
  padding: 16px;
}
