header {
  code, .b-actions {
    display: flex;
    flex: 1;
  }

  .b-actions {
    justify-content: flex-end;
  }
}
.b-composer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: calc(100% - 272px);
  flex: 1;
  padding: 0 16px;
  border-radius: 32px;
  min-height: 64px;
  background: var(--b-background-50);
}
