@media (prefers-color-scheme: dark) {

  .upgrade-head {
    background-image: url(/images/upgrade_bg1.jpg) !important;
    background-size: cover;
  }
  .upgrade_content {
    //background: linear-gradient(to right,  #767a8d 0%,#bfc2d1 100%);
  }
}

/********************
 *    start upgrade *
 ********************/
.upgrade-head {
  background-image: url(/images/upgrade_bg.jpg);
  background-size: cover;
}

.upgrade-head {
  float: left;
  display: inline-block;
  clear: both;
  width: 100%;

  .upgrade-info {
    width: 350px;
    display: block;
    float: left;
    padding: 0 24px;
  }

  .upgrade-info h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .upgrade-info {
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    p {
      padding: 0 0 12px;
      opacity: 0.8;
    }
  }
}

.upgrade-body {
  display: block;

  .titlewithline {

    font-size: 22px;
    color: var(--p-primary-500);
    margin-top: 30px;
    margin-bottom: 20px;
    background: url(/images/upgrade_divider.png) repeat-x 0 center;
    float: left;
    width: 100%;
  }

  .titlewithline span {
    display: inline-block;
    padding-right: 15px;
    color: var(--p-primary-500);
    font-size: 22px;
  }

  .whatis {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

/**************************
 * Price table
 **************************/
.dm3-pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.dm3-pricing-column {
  border-right: 1px solid var(--p-content-border-color);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 24px;
  padding-left: 24px;
  &:first-child {
  }
  &:last-child {
    border: none;
  }
}

.dm3-pricing-header {
  margin-bottom: 12px;

  h2 {
    margin: 0;
    text-transform: capitalize;
  }
}

.dm3-pricing-price {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  span {
    font-size: 2rem;
    font-weight: 600;
  }

  span.duration {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--p-text-muted-color);
  }
}

.dm3-pricing-options {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      gap: 8px;
      padding: 8px 0;
      i {
        padding: 2px 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.dm3-pricing-actions {
  margin-top: 15px;
}

.qa-container {
  h2 {
    padding: 0 24px;
  }
}
